<div class="row">
  <div class="col-12 col-md-4">
    <a routerLink="/admin/products/new" class="btn btn-block btn-primary">Add Product</a>
  </div>
</div>
<div class="row" style="padding-top: 15px;">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products$ | async; index as i;">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.title }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
          <td><a routerLink="/admin/products/{{ product.id }}" class="btn btn-success">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>