form {
    padding: 15px;
    margin: auto;
    max-width: 100%;
    width: 420px;
}

.form-error {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.form-accent {
    color: turquoise;
    font-size: 12px;
    font-weight: bold;
}